.facilities-container {
  width: 100%;
  /* background-color: #f1f2f6; */
  background-color: #000000;
  padding: 4rem 0;
}

.facilities-head {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}

.facilities-heading {
  font-size: 42px;
}

.facilities-label {
  font-size: 24px;
  font-weight: 600;
  /* color: #005eff; */
}

.facilities-para {
  font-size: 18px;
  /* color: #3f3f3f; */
  line-height: 1.3;
  word-spacing: 1px;
  margin-top: 10px;
}

.facilities-cards {
  width: 80%;
  margin: 0 auto;
  gap: 40px 0;
  padding-bottom: 5rem;
}

.facilities-card {
  position: sticky;
  top: 0;
}

.facilities-card-inner {
  will-change: transform;
  background: white;
  border-radius: 16px;
  display: flex;
  overflow: hidden;
  box-shadow:
    inset 0 0.361px 0.181px -1.25px rgba(0, 0, 0, 0.18),
    inset 0 1.373px 0.687px -2.5px rgba(0, 0, 0, 0.16),
    inset 0 6px 3px -3.75px rgba(0, 0, 0, 0.06),
    inset 0 0.422px 0.422px -1.25px hsla(0, 0%, 100%, 0.18),
    inset 0 1.602px 1.602px -2.5px hsla(0, 0%, 100%, 0.16),
    inset 0 7px 7px -3.75px hsla(0, 0%, 100%, 0.06),
    0 0.652px 0.652px -0.2px rgba(0, 0, 0, 0.02),
    0 1.776px 1.776px -0.4px rgba(0, 0, 0, 0.02),
    0 3.899px 3.899px -0.6px rgba(0, 0, 0, 0.03),
    0 8.655px 8.655px -0.8px rgba(0, 0, 0, 0.04),
    0 22px 22px -1px rgba(0, 0, 0, 0.08);
  transform-origin: center top;
  margin-top: 2.5rem;
}

.facilities-card:nth-child(even) .facilities-card-inner {
  flex-direction: row-reverse;
}

.facilities-card-image-container {
  display: flex;
  width: 40%;
  flex-shrink: 0;
  padding: 1rem;
}

.facilities-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.facilities-card-content {
  color: #27187e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.facilities-card-title {
  font-size: 32px;
  color: #005eff;
}

.facilities-card-subtitle {
  font-size: 20px;
  color: #000000;
  margin-top: 10px;
}

.facilities-card-desc {
  font-size: 16px;
  color: #3f3f3f;
  line-height: 1.4;
  padding: 1rem 0;
}

.facilities-card-btn {
  width: 210px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 16px;
  color: #ff8600;
  border: 2px solid #ff8600;
}

.facilities-card-btn:hover {
  color: #f1f2f6;
  background-color: #ff8600;
}

/* --------------------------- Responsive Style -------------------- */
@media (max-width: 1440px) {
  .facilities-cards {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .facilities-cards {
    width: 95%;
  }
}

@media (max-width: 868px) {
  .facilities-heading {
    font-size: 32px;
  }

  .facilities-label {
    font-size: 20px;
  }

  .facilities-para {
    font-size: 16px;
  }

  .facilities-card-inner {
    margin-top: 0;
  }

  .facilities-card-content {
    padding: 1rem;
  }

  .facilities-card-title {
    font-size: 28px;
  }

  .facilities-card-btn {
    width: 190px;
    font-size: 16px;
  }
}

@media (max-width: 468px) {
  /* .facilities-card {
    position: static;
  } */

  .facilities-card-inner,
  .facilities-card:nth-child(even) .facilities-card-inner {
    flex-direction: column-reverse;
  }

  .facilities-card-image-container {
    width: 100%;
  }
}
